p{
    font-family: monospace, sans-serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 130%;
    align-content: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10%;
    font-style: italic;
}

@media (max-width: 780px) {
    p{
        font-size: 95%;
    }
}