<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="alert alert-danger" *ngIf="error">
          <p>{{ error }}</p>
        </div>
        <div *ngIf="isLoading" style="text-align: center;">
          <app-loading-spinner></app-loading-spinner>
        </div>
    <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
      <textarea>
        <input matInput type="text" formControlName="name" placeholder="Product Name">
        <error *ngIf="form.get('name').invalid">Please enter product name.</error>
      </textarea>
      <div>
        <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
        <input type="file" #filePicker (change)="onImagePicked($event)">
      </div>
      <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
        <img [src]="imagePreview" [alt]="form.value.title">
      </div>
      <textarea>
        <textarea matInput rows="4" formControlName="content" placeholder="Post Content"
        <!-- <error *ngIf="form.get('content').invalid">Please enter product description. </error> -->
      </textarea>
      <button mat-raised-button color="accent" type="submit">Save Product</button>
    </form>
  </div>

  <!-- <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="alert alert-danger" *ngIf="error">
        <p>{{ error }}</p>
      </div>
      <div *ngIf="isLoading" style="text-align: center;">
        <app-loading-spinner></app-loading-spinner>
      </div>
      <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
        <div class="form-group">
          <label for="email">E-Mail</label>
          <input
            type="email"
            id="email"
            class="form-control"
            ngModel
            name="email"
            required
            email
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            ngModel
            name="password"
            required
            minlength="6"
          />
        </div>
        <div>
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!authForm.valid"
          >
            {{ isLoginMode ? 'Login' : 'Sign Up' }}
          </button>
          |
          <button class="btn btn-primary" (click)="onSwitchMode()" type="button">
            {{ isLoginMode ? 'Sign Up' : 'Login' }}
          </button>
        </div>
      </form>
    </div>
  </div>
  
   -->